﻿<!DOCTYPE html>
<html ng-app="Login">
<head>
	<meta charset="utf-8">
	<title>Portal de comunicação interna</title>
	<link 	rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link   rel ="stylesheet" href="front/view/css/style.css">

  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script type="text/javascript">
    		var autentication ;
        angular.module("Login",[]) ;
    		angular.module("Login").controller( "LoginController",function($scope) { 

    		}) 
	</script>

</head>
<body ng-controller="LoginController">
	<div  class="panel text-center">
		<h2>Login de usuario</h2>
	</div>
	
	<div class="panel panel-primary text-center">
      <div class="panel-heading">Dados para Login</div>
      <div class="panel-body  text-left">
	  	  <form method="post" Action="controller.login">
	  			<p>	<label for="txtUsuario">Usuário:</label>   
	  				<input class="form-control" type="text" ng-model="usuario.nome" id="txtUsuario" Name="txtUsuario" placeholder="Coloque aqui seu usuário" ng-required="true" >
	  			</p>
  				<p>	
	  				<label for="txtSenha">Senha</label>   
	  				<input class="form-control" type="password" ng-model="usuario.senha" id="txtSenha" name="txtSenha" placeholder="Coloque aqui a sua senha" ng-required="true">
  				</p>
		  		<input class="btn btn-primary" type="Submit" name="btnEnviar" value="Entrar">
				<input class="btn" type="Reset" name="btnReset" value="Limpar">
				<input type="hidden" name ="Requisicao" id="Requisicao" value="Login"/>
  		  <label><#host></label>
        </form>
      </div>
    </div>
    <div class="panelLink">
    	<table class="table text-center">
    		<tr>
    			<td><a href="view.cadastrarUsuario">Cadastrar-se</a></td>
    			<td><a href="http://www.google.com.br">Recuperar acesso</a></td>
    		</tr>
    	</table>
    </div>
</body>
</html>